.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-content {
  display: flex;
  font-size: large;
  margin: 50px;
}

.charts-container {
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: flex;
  flex: 0 0 200px;
}

.sidebar a.selected {
  background-color: #d2e9f9;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
